# Ignore backup directory
backup/
images/
voiceovers/


# Ignore the virtual environment
venv/
.venv/

# Ignore .env files (often contain sensitive info)
.env
.DS_Store

# Ignore Python cache directories
__pycache__/